* {
	margin: 0;
	padding: 0;
}

html {
    max-width: 1440px;
    margin: 0 auto
}

/*
 CSS rules to specify families
font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap');


 /* Define the CSS variables */
 :root {
    --primary-color: #003366;
    --secondary-color: #FFA500;
    --accent1-color: #669966;
    --accent2-color: #8B4513;
    --accent3-color: white;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    /* --nav-background-color: #003366;
    --nav-link-color: #003366;
    --nav-hover-link-color: #669966;
    --nav-hover-background-color: white; */
 }

/* Hero Container using Position Absolute*/

header {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; 
  align-items: center;   
  /* background-color: ; */
  border-bottom: 1px solid #ccc;
}

header > nav {
  display: flex;
  list-style: none;
}

header > nav > li {
  flex: 1 1 100%;
}

header > nav > li > a {
  display: block;
  color: var(--primary-color);
  padding: 20px;
  text-decoration: none;
}

header > nav > li > a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  font-weight: 700;
}

.container-history {
  display: grid;
  grid-template-columns: 1fr); /*Single column layout*/
  gap: 20px;
  max-width: 800px; /*Adjust as needed*/
  margin: 0 auto; /*Center the container horizontally*/
}

.history {
  grid-column: 1;
  background-color: var(--secondary-color);
  padding: 20px; /* Add some padding for readability */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

section {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.hero {
    position: relative;
}
  
  .hero h1 {
    position: absolute;
    top: 2.0em;
    color: var(--accent3-color);
    background-color: #003366;
    width: 100%;
    text-align: center; 
  }
 
  .hero-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  article {
    position: absolute;
    bottom: 20em;
    width: 80%;
    left: 8em;    
    background-color: lightslategrey;
    padding: 15px;
}

article p {
    color: var(--accent3-color);
    text-align: center;  
}

  article img {
    float: right;
    width: 200px;    
  }


 h1, h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
 }
 
 p {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
 }


/* footer > p {
  text-align: center;
} */

/* Style the social media icons */
nav img {
  margin-right: 10px;
  width: 24px; 
  height: 24px;  
}

/* Company Info Styles */
.company-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Employee Profiles Styles */
.employee {
  margin-bottom: 20px;
}

.employee img {
  max-width: 50%;
  border-radius: 50%;
} 


/* Contact Form Styles */
.contact-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* margin-bottom: */
}

footer a {
  text-decoration: none;
}

footer {
display: flex;
justify-content: flex-end;
align-items: center;
background-color: #f0f0f0; 
padding: 10px; 
}

/* Trips site styles */
.trip-description {
  margin-bottom: 40px;
}

.trip-description h2 {
  color: var(--primary-color);
  margin: 10px;
}

.trip-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Add this CSS for the book button */
.book-button {
    background-color: var(--accent1-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    font-size: large;
}

.book-button:hover {
    background-color: var(--accent2-color);
}

.trip-table {
  margin-top: 40px;
}

.trip-table h2 {
  color: var(--primary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--primary-color);
}

th {
  background-color: var(--secondary-color);
  color: white;
}