  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&display=swap');
/*
 CSS rules to specify families
font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif;
 */

 /* CSS variables */
 :root {
    --primary-color: #003366;
    --secondary-color: #FFA500;
    --accent1-color: #669966;
    --accent2-color: #8B4513;
    --accent3-color: white;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #003366;
    --nav-link-color: #003366;
    --nav-hover-link-color: #669966;
    --nav-hover-background-color: white;
 }

 body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 1em;
 }

 h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
 }

 header {
    padding: 1em;
    background-color: var(--secondary-color);
 }

 p {
    padding: 25px;
 }

nav {
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--accent3-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--accent3-color);
    background-color: #003366;
}