/* Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid, header, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selector */
.box {
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: rgb(197, 174, 174);
    color: white;

}

nav {
    background-color: steelblue;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: white;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin-top: 1rem;
    }
p {
    padding: 10px;
}

.grid {
    display: grid;
    align-items: center;
    
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1em;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #bbd0ff;
    color: black;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside h2{
    position: absolute;
    color: #000000;
    /* bottom: 260px; */
    left: 50px;
           
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

aside p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}